.nav {
  background-color: #353232;
}

.nav .nav__ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.nav__ul .nav__ul-li {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  transition: all 0.3s;
  padding: 1rem 2rem;
}

.nav .nav__ul-li:hover {
  transition: all 0.3s;
  background-color: #3e670f;
}

.nav__ul .nav__ul-a {
  text-decoration: none;
  color: #fff;
}

.nav__ul .nav__ul-a:hover {
  color: #fff;
}
