<section class="title">
  <h1 class="title__h1">{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <a href="{{ web }}" class="link"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-brand-linkedin"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="#0474b4"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <rect x="4" y="4" width="16" height="16" rx="2" />
      <line x1="8" y1="11" x2="8" y2="16" />
      <line x1="8" y1="8" x2="8" y2="8.01" />
      <line x1="12" y1="16" x2="12" y2="11" />
      <path d="M16 16v-3a2 2 0 0 0 -4 0" /></svg
    ><span>Linkedin</span></a
  >
</section>
<section class="about">
  <h2 class="about__h2">Sobre Mi</h2>
  <p class="about__p">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis architecto
    deleniti itaque quos explicabo cupiditate inventore doloremque! Vitae saepe
    est nihil sed. Dolorum voluptate voluptas quibusdam, tempore laudantium
    laborum perspiciatis!
  </p>
  <p class="about__p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi
    quidem eligendi deleniti animi vel nobis quisquam laborum esse ducimus ipsa
    illo, fuga atque quaerat quia nam sit suscipit ipsam.
  </p>
  <p class="about__p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non autem omnis
    deleniti. Quod ullam porro sequi odio culpa nesciunt molestias deleniti,
    incidunt consectetur quaerat corrupti, impedit, non consequuntur beatae sit.
  </p>
</section>
